body{
    color: #ffffff;
    background: #000000;
    font: 14px Verdana;
    text-align:center;
}

article header {
	width: 1920px;
	float: up;    	
}

article section{
    width: 1920px;
    float: up;
    background: #ffffff;
    color: #000000;
}

.clear {
    clear: both;    
}

